.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;
}

.App-header {
  border-bottom: 6px dashed #f26522;
  background-color: #ff0;
  padding: 24px;
}

.App-header input {
  margin-left: 8px;
}

section.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.space-suit {
  margin-top: -102px;
  margin-left: 34px;
}
