.App {
  text-align: center;
  transition: all 0.4s ease-in-out;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  text-decoration: none;
}

.App-header {
  border-bottom: 6px dashed #f26522;
  background-color: #ff0;
  padding: 24px;
}

.App-header input {
  margin-left: 8px;
}

section.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.right-shoulder-cover {
  height: 100px;
  width: 250px;
  margin-top: -71px;
  margin-left: 192px;
  transform: rotate(10deg);
  transition: all 0.4s ease-in-out;
}

.space-suit {
  margin-top: -132px;
  margin-left: 34px;
}

section.suit-controls {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 24px;
  width: 400px;
  margin: auto;
}

section.suit-controls > div {
  padding: 8px;
}

input[type=range] {
  margin-left: 8px;
}
